.nav-bg{
    /* background-color: rgb(250, 249, 248); */
    background-color: rgb(240, 239, 240);;
}

body{
    font-family:opensans ;
}
@font-face{
    font-family: opensans;
    src: url(../Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.card{
    border-radius: 0%;
}
.tables-font{
    font-size: smaller;
}