.modal-dialog .modal-content{
    border-radius: 0px;
}
.nav-link {
    color: white;
    
}
.nav-link:hover {
    color: rgb(12, 156, 77);
    
}

.register-form{
    width: 400px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.form-div{
    background-color: rgb(247, 247, 247);
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
}
.secao{
    background-color: white;
    padding: 50px 50px 50px 50px;
    box-shadow: 10px 5px 15px rgb(159, 160, 161);
    border-radius: 10px;
}
.fonts-custom{
    font-family: opensans, 'Roboto', sans-serif;
}
.fonts-custom-2{
    font-family: IBM, teko_regular, opensans, Helvetica Neue, Segoe UI,Roboto,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    
}
body{
    font-family: opensans;
}

@font-face {
    font-family: opensans;
    src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face{
    font-family: opensans-light;
    src: url(/css/Open_Sans/static/OpenSans/OpenSans-Light.ttf);
}

.input-border-color {

 color: rgb(185, 200, 227);
}
.btn-horarios {
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
    border: 1px solid #6587e4;
    width: 100px;
    font: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-horarios:hover {
    color: white;
    background-color: #6587e4;
}

.ul-custom {
    display :inline-flex;
padding: 10px;
margin-bottom: 5px;
    list-style-type: none;
}
.li-custom {
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 0px 0px 0px 0px;
}

.negrito {
    font: bold;
}
#alunos-top{
    font-size: 85%;
}
@media screen and (max-width:1220px) {

    #alunos-footer{ visibility: hidden;}
  }
  @media screen and (max-width:1020px) {

    #alunos-footer{ visibility: hidden;}
  }
  @media screen and (max-width:920px) {

    #alunos-footer{ visibility: hidden;}
  }
  @media screen and (min-width:820px) {

    .secao { padding: auto;}
    #alunos-footer{ visibility: hidden;}
  }
@media screen and (max-width:720px) {

    .secao { padding: 10px;}
    #alunos-top{ visibility: hidden;}
    #alunos-footer{ visibility: visible;}
  }
  
  @media screen and (max-width: 420px) {

    .secao { padding: 10px;}
    #alunos-top{ visibility: hidden;}
    #alunos-footer{ visibility: visible;}
  }
  
  @media screen and (max-width: 290px) {

    .secao { padding: 10px;}
    #alunos-top{ visibility: hidden;}
    #alunos-footer{ visibility: visible;}
  }
  