h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}
.body-background-image{
    background-image: url("/assets/img/login/pexels-angela-roma-7319161.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}
.body-background{
    background-color: rgba(0, 0, 0, 0.877);
    background-repeat: repeat;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
body, html{
    height: 100%;
}
.fonts{
    font-family: 'opensans-light', 'Roboto', sans-serif;
    font-weight: 300;
	color: #fff;
}
@font-face{
    font-family: opensans;
    src: url(/assets/css/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: opensans-light;
    src: url(/assets/css/Open_Sans/static/OpenSans/OpenSans-Light.ttf);
}
.top-content .form-box {
	padding-top: 80px;
}
.top-content .text {
	padding-top: 120px;
	color: #fff;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; color: #fff;}

.top-content .description a {
	color: #fff;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}
.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}
.form-bottom form textarea {
	height: 100px;
}
.nav-link {
    color: #fff;
}
.nav-link:hover {
    color: rgb(5, 124, 45);
}
#alunos-top{
    font-size: 85%;
}
@media screen and (max-width:720px) {
    #alunos-top{ visibility: hidden;}
}

@media screen and (max-width: 420px) {
    #alunos-top{ visibility: hidden;}
}
  
@media screen and (max-width: 290px) {
    #alunos-top{ visibility: hidden;}
}