body{
    font-family: opensans ;
}
.modal-body{
    background-color: rgba(216, 215, 215, 0.856);
}
@font-face{
    font-family: opensans;
    src: url(../Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.card{
    border-radius: 0px;
}
.card-header{
    background-color: rgb(46, 155, 220);
}
.input-border{
    border: hidden;
}
.select-border{
    border: hidden;
}
.textarea-border{
    /* border: hidden; */
    border-color: rgba(93, 93, 226, 0.726);
    border-radius: 5px;
}
#ex2-tabs-1 {
    border-left: 0px;
    background-color: rgb(250, 249, 248);
}
#ex2-tabs-2 {
    border-left: 0px;
    background-color: rgb(250, 249, 248);
}
#ex2-tabs-3 {
    border-left: 0px;
    background-color: rgb(250, 249, 248);
}
#ex2-tab-1:hover{
    border-left: 0px hidden;
}
#ex2-tab-2:hover{
    border-left: 0px hidden;
}
#ex2-tab-3:hover{
    border-left: 0px hidden;
}
#ex2-tab-1{
    color: black;
    font: bold;
}
.btnHover:hover{
    background-color: rgb(94, 194, 107);
}
.btnEditarObervacoes:hover{
    background-color: rgb(67, 41, 216);
    color: white;
}
.btnExcluirObervacoes:hover{
    background-color:rgb(197, 53, 53);
    color: white;
}
#status-value{
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
}